@model SocialGame.Models.User

<h3>Change picture</h3>

<div id="changePicture-message-status"></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "changePictureForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Picture Form</legend>
        <ol>
            <li>
                <label for="Picture">Picture</label>
                <img id="pictureImg" src="@ViewBag.PictureLink" alt="Picture" height="180">
                @Html.TextBoxFor(m => m.picture, new { @Value = @ViewBag.PictureLink })
            </li>
        </ol>
        <input type="button" value="Change picture" id="changePictureButton" />
    </fieldset>
}


