@model SocialGame.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p>You're logged in with the email <strong>@Session["Email"]</strong>.</p>

<table>
    <tr>
        <td>@Html.Partial("_ChangePasswordPartial")</td>
        <td>
            @Html.Partial("_ChangeUserNamePartial")
            @Html.Partial("_ChangeMoodPartial")
        </td>
        <td>@Html.Partial("_ChangePicturePartial")</td>
    </tr>
</table>


<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function messageDealer(className,data) {
            $("#" + className + "-message-status").removeAttr('class');
            if (data.state == "success") {
                $("#" + className + "-message-status").addClass("message-success");
                $("#" + className + "-message-status").html("<p>" + data.message + "</p>");
            }
            else {
                $("#" + className + "-message-status").addClass("validation-summary-errors");
                $("#" + className + "-message-status").html("<ul><li>" + data.message + "</li></ul>");
            }
        }
        $("#changePasswordButton").click(function () {
            $.post("@Url.Action("ChangePassword","Account")",
                $("#changePasswordForm").serialize(),
                function (data)
                {
                    messageDealer("changePassword");
                    $("#changePasswordForm")[0].reset();
                }, "json");
        });
        $("#changeUserNameButton").click(function () {
            $.post("@Url.Action("ChangeUserName","Account")",
                $("#changeUserNameForm").serialize(),
                function (data)
                {
                    messageDealer("changeUserName",data);
                }, "json");
        });
        $("#changeMoodButton").click(function () {
            $.post("@Url.Action("ChangeMood","Account")",
                $("#changeMoodForm").serialize(),
                function (data)
                {
                    messageDealer("changeMood",data);
                }, "json");
        });
        $("#changePictureButton").click(function () {
            $.post("@Url.Action("ChangePicture","Account")",
                $("#changePictureForm").serialize(),
                function (data)
                {
                    messageDealer("changePicture", data);
                    if (data.state == "success") {
                        $("#pictureImg").attr( "src", $("#picture").val() );
                    }
                }, "json");
        });
    </script>
}
