@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @Html.Partial("_FindPeople")
    <br>
    <section class="featured">
        <div class="content-wrapper">
            <table align="center">
                <tr>
                    <td align="right">@ViewBag.User.username</td>
                    <td rowspan="3"><img src="@ViewBag.User.picture" alt="Picture" height="180"> </td>
                    <td>@ViewBag.User.mood = My Mood</td>
                </tr>
                <tr>
                    <td align="right">TotalScore = @ViewBag.User.totalScore</td>
                    <td>3 most popular Tags</td>
                </tr>
                <tr>
                    <td align="right">TotalStrength = @ViewBag.User.totalScore</td>
                    <td>@ViewBag.User.type = User Type</td>
                </tr>
                @if (@ViewBag.Friend == "False")
                {
                <tr>
                    <td colspan="3" align="center">ADD FRIEND</td>
                </tr>
                }
            </table>
        </div>
    </section>
    <br>
    @Html.Partial("_ListOfPeople")
</body>
</html>
